@using System.Linq;

@model List<PreactorASPCore.Models.OracleData.Entity.RI_BIND_OB_V>

<link rel="stylesheet" href="/css/EquipmentStyle.css" />

@{
    ViewBag.Title = "Карта оборудования цеха #2";
}

<div class="title">@ViewBag.Title</div>

@foreach (int j in ViewBag.KonveNum)
{

    <div class="conveer">
        @for (int i = 85; i > 0; i--)
        {

            if (i % 2 == 1)
            {
                var equip = @Model.FirstOrDefault(x => x.KPLOT == "20" + j && x.WP == i);
                string c = "white";
                var color = equip?.KOB % 20 ?? 20;
                c = @ViewBag.Colors[color];


                if (equip!=null)
                {
                    <div class="equipmentplace" style="background: @c" data-tooltip="@equip?.NOB">
                        <div class="kob">@Html.Raw(equip?.KOB)</div>
                        <div class="mob">@Html.Raw(equip?.MOB)</div>
                        <div class="place">@Html.Raw(i)</div>
                    </div>
                }
                if (equip==null)
                {
                    <div class="equipmentplace" style="background: @c">
                        <div class="kob"></div>
                        <div class="mob"></div>
                        <div class="place">@Html.Raw(i)</div>
                    </div> 
                }
            }
        }
    </div>

    <div class="lenta">КОНВЕЙЕР № @j</div>
    <div class="conveer">
        @for (int i = 85; i > 1; i--)
        {

            if (i % 2 == 0)
            {
                var equip = @Model.FirstOrDefault(x => x.KPLOT == "20" + j && x.WP == i);
                string c = "white";
                var color = equip?.KOB % 20 ?? 20;
                c = @ViewBag.Colors[color];

                if (equip!=null)
                {
                    <div class="equipmentplace" style="background: @c" data-tooltip="@equip?.NOB">
                        <div class="place">@Html.Raw(i)</div>
                        <div class="kob">@Html.Raw(equip?.KOB)</div>
                        <div class="mob">@Html.Raw(equip?.MOB)</div>
                    </div>
                }
                if (equip==null)
                {
                    <div class="equipmentplace" style="background: @c">
                        <div class="place">@Html.Raw(i)</div>
                        <div class="kob"></div>
                        <div class="mob"></div>
                    </div> 
                }

            }
        }
    </div>

}





