@model IEnumerable<PreactorASPCore.Models.PreactorData.WorkHoursForOrgUnit>

@{
    ViewData["Title"] = "InfoWorkHours";
}

<h2>InfoWorkHours</h2>

<p>
    <a> Колличестов элементов: @ViewBag.koll</a>
</p>
<table class="table" border="1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrgUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateWorkDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShiftId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wdCrew)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndWork)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrgUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AreaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrgTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateWorkDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.wdCrew)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartWork)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndWork)
                </td>
            </tr>
        }
    </tbody>
</table>